.main-table {
	border-collapse: collapse;
	background: #f8f8f8 !important;
}

.main-table > thead > tr > th {
	border: 1px solid black;
}

.main-table > tbody > tr > td {
	border: 1px solid black;
	padding: 5px;
}

.nowrap {
	white-space: nowrap;
}

.music-table {
	border-collapse: collapse;
	border: none;
}

/* hide table sorter's style on sub table' */
.music-table > tbody > tr > td {
	border-top: none !important;
	padding: 5px;
}

/* add vetical line between cells */
.music-table > tbody > tr > td:not(:last-child) {
	border-right: 1px solid black;
}

.link {
	/* hide underline, otherwise we see lines between icons */
	text-decoration: none;
}

.link-img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}